@{
    var action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
}
<ul class="nav navbar-stacked">
    <li class="@(action == "index"?"active":null)"><a href="@Url.Action("Index")"><i class="fa fa-car"></i> 车辆状况</a></li>
    <li><a href="#"><i class="fa fa-history"></i> 我的用车记录</a></li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="#1"><i class="fa fa-check-circle-o"></i> 用车审批</a></li>
    <li><a href="#1"><i class="fa fa-list"></i> 车辆管理</a></li>
</ul>
