@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    ViewBag.Title = "用车申请";
    ViewBag.FormId = "car";
}
<div class="form-group">
    <label class="control-label col-sm-3">选择车辆：</label>
    <div class="col-sm-8">
        <select class="form-control">
            <option>奇瑞 瑞虎5 SUV</option>
            <option>吉利 博越 SUV"</option>
            <option>吉利 博瑞 轿车</option>
            <option>奇瑞 瑞虎3 SUV</option>
            <option>比亚迪·秦 电动</option>
            <option>比亚迪·唐 电动</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-3">使用日期：</label>
    <div class="col-sm-8">
        <input type="text" class="form-control datepicker"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-3">预计归还日期：</label>
    <div class="col-sm-8">
        <input type="text" class="form-control datepicker"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-3">用车理由：</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="2"></textarea>
    </div>
</div>

<script>
    $(function () {
        $('.datepicker').datepicker({
            startDate: "@(DateTime.Now.ToString("yyyy-MM-dd"))",
            language: "zh-CN"
        });
    });
</script>
