@{
    Layout = null;
}
<ul class="nav nav-tabs">
    <li class="active"><a href="#messages" data-toggle="tab" aria-expanded="true"><i class="fa fa-commenting-o"></i></a></li>
    <li class=""><a href="#users" data-toggle="tab" aria-expanded="false"><i class="fa fa-address-book-o"></i></a></li>
    <li class=""><a href="#groups" data-toggle="tab" aria-expanded="false"><i class="fa fa-group"></i></a></li>
    <li class=""><a href="#departments" data-toggle="tab" aria-expanded="false"><i class="fa fa-sitemap"></i></a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in" id="messages">
        <div class="contact">
            <div class="media-left">
                <span class="face face-md"><i class="fa fa-bell"></i></span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    系统通知
                </div>
                <div class="description clear">
                    <a href="#">这里是一个系统通知！</a>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="media-left">
                <span class="face face-md">汪建龙</span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    <a href="#">汪建龙</a>
                </div>
                <div class="description clear">
                    <a href="#">这是某人给你发送的短消息，请注意查收！</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="users">
        <div class="contact">
            <div class="media-left">
                <span class="face face-md">汪建龙</span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    <a href="#">汪建龙</a> 13832134323
                </div>
                <div class="description clear">
                    陆吾科技-工程师
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="media-left">
                <span class="face face-md">赵思思</span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    <a href="#">赵思思</a> 13832134323
                </div>
                <div class="description clear">
                    陆吾科技
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="media-left">
                <span class="face face-md">唐尧</span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    <a href="#">唐尧</a> 13832134323
                </div>
                <div class="description clear">
                    陆吾科技
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="media-left">
                <span class="face face-md">郑良军</span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    <a href="#">郑良军</a> 18121783230
                </div>
                <div class="description clear">
                    陆吾科技
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="groups">
        <div class="contact">
            <div class="media-left">
                <span class="face face-md">群</span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    <a href="#">自定义群1</a>
                </div>
                <div class="description clear">
                    这里是群简介
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="media-left">
                <span class="face face-md">群</span>
            </div>
            <div class="media-body">
                <div class="top-toolbar clear">
                    <a href="#">自定义群2</a>
                </div>
                <div class="description clear">
                    这里是群简介2
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="departments">
        <div id="org-list" role="tablist" aria-multiselectable="true">
            <div id="org-1" class="org-name" role="tab">
                <a role="button" data-toggle="collapse" data-parent="#org-list" href="#org-users-1" aria-expanded="true" aria-controls="org-users-1">
                    科室名称1
                </a>
            </div>
            <div id="org-users-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="org-1">
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">张含笑</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">张含笑</a> 13832134323
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">赵庆明</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">赵庆明</a> 13832134323
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">孙立群</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">孙立群</a> 13832134323
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">唐红</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">唐红</a>13832134323
                        </div>
                    </div>
                </div>
            </div>
            <div id="org-2" class="org-name" role="tab">
                <a role="button" data-toggle="collapse" data-parent="#org-list" href="#org-users-2" aria-expanded="false" aria-controls="org-users-2">
                    科室名称2
                </a>
            </div>
            <div id="org-users-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="org-2">
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">吴清源</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">吴清源</a> 13832134323
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">汪明荃</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">汪明荃</a> 13832134323
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">周立松</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">周立松</a> 13832134323
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="media-left">
                        <span class="face face-xs">裴东</span>
                    </div>
                    <div class="media-body">
                        <div class="top-toolbar clear">
                            <a href="#">裴东</a>13832134323
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
</div>