<div class="container">
    <div style="margin:10px 0">
        <a href="#" class="btn btn-primary"><i class="fa fa-upload"></i>上传附件</a>
    </div>
    <table class="table table-bordered">
        <tr>
            <th style="width:80px;"></th>
            <th>文件名</th>
            <th style="width:100px;">文件大小</th>
            <th style="width:150px;">操作</th>
        </tr>
        <tr>
            <td>
                <i class="fa fa-file-word-o fa-2x"></i>
            </td>
            <td>
                这个文件是Word文件.doc
            </td>
            <td>
                123K
            </td>
            <td>
                <a href="#"><i class="fa fa-download"></i> 下载</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-file-excel-o fa-2x"></i>
            </td>
            <td>
                这个文件是Excel文件.xls
            </td>
            <td>
                32K
            </td>
            <td>
                <a href="#"><i class="fa fa-download"></i> 下载</a>
            </td>
        </tr>
    </table>
</div>