<div style="text-align:center">
    <div style="margin:0 auto;width:1000px">
        <style>
            td { padding-top: 1px; padding-right: 1px; padding-left: 1px; text-align: general; vertical-align: middle; white-space: nowrap; color: #000000; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: 宋体; mso-generic-font-family: auto; border: none; }
            .xl65 { text-align: center; font-size: 24.0pt; }
            .xl66 { text-align: center; font-size: 24.0pt; }
            .xl67 { text-align: center; }
            .xl68 { text-align: center; border-left: .5pt solid; border-top: .5pt solid; border-right: .5pt solid; }
            .xl69 { text-align: center; border: .5pt solid; }
            .xl70 { text-align: center; border-left: .5pt solid; border-right: .5pt solid; border-bottom: .5pt solid; }
            .xl71 { border: .5pt solid; }
            .xl72 { text-align: left; border: .5pt solid; }
            .xl73 { text-align: center; border-left: .5pt solid; border-top: .5pt solid; border-right: .5pt solid; }
            .xl74 { text-align: center; vertical-align: bottom; border-left: .5pt solid; border-top: .5pt solid; }
            .xl75 { text-align: center; vertical-align: bottom; border-top: .5pt solid; }
            .xl76 { text-align: center; vertical-align: bottom; border-top: .5pt solid; border-right: .5pt solid; }
            .xl77 { text-align: center; vertical-align: bottom; border-left: .5pt solid; border-bottom: .5pt solid; }
            .xl78 { text-align: center; vertical-align: bottom; border-bottom: .5pt solid; }
            .xl79 { text-align: center; vertical-align: bottom; border-right: .5pt solid; border-bottom: .5pt solid; }
            .xl80 { text-align: left; vertical-align: top; border-left: .5pt solid; border-top: .5pt solid; }
            .xl81 { text-align: left; vertical-align: top; border-top: .5pt solid; }
            .xl82 { text-align: left; vertical-align: top; border-top: .5pt solid; border-right: .5pt solid; }
            .xl83 { text-align: left; vertical-align: top; border-left: .5pt solid; border-bottom: .5pt solid; }
            .xl84 { text-align: left; vertical-align: top; border-bottom: .5pt solid; }
            .xl85 { text-align: left; vertical-align: top; border-right: .5pt solid; border-bottom: .5pt solid; }
            .xl86 { text-align: center; vertical-align: top; border-left: .5pt solid; border-top: .5pt solid; border-right: .5pt solid; }
            .xl87 { text-align: center; vertical-align: top; border-left: .5pt solid; border-right: .5pt solid; border-bottom: .5pt solid; }
        </style>
        <table width="975" border="0" cellpadding="0" cellspacing="0" style='width:731.25pt;border-collapse:collapse;table-layout:fixed;'>
            <tr height="56" style='height:42.00pt;'>
                <td class="xl65" height="56" width="975" colspan="9" style='height:42.00pt;width:731.25pt;border-right:none;border-bottom:none;' x:str>定海分局具体工作任务落实单</td>
            </tr>
            <tr height="24" style='height:18.00pt;'>
                <td height="24" style='height:18.00pt;' x:str>单号:</td>
                <td class="xl67" colspan="5" style='border-right:none;border-bottom:none;'></td>
                <td x:str>日期：</td>
                <td class="xl67" colspan="2" style='border-right:none;border-bottom:none;'></td>
            </tr>
            <tr height="32" style='height:24.00pt;'>
                <td class="xl68" height="66.67" rowspan="2" style='height:50.00pt;border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>任务事项</td>
                <td class="xl69" colspan="3" style='border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>任务来源</td>
                <td class="xl69" rowspan="2" style='border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>工作目标任务</td>
                <td class="xl69" rowspan="2" style='border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>计划完成时间</td>
                <td class="xl69" rowspan="2" style='border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>责任领导</td>
                <td class="xl69" colspan="2" style='border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>责任单位</td>
            </tr>
            <tr height="34.67" style='height:26.00pt;'>
                <td class="xl69" x:str>省</td>
                <td class="xl69" x:str>市</td>
                <td class="xl69" x:str>区</td>
                <td class="xl69" x:str>主办单位</td>
                <td class="xl69" x:str>协办单位</td>
            </tr>
            <tr height="104" style='height:78.00pt;'>
                <td class="xl71" height="104" style='height:78.00pt;'></td>
                <td class="xl72" colspan="3" style='border-right:.5pt solid ;border-bottom:.5pt solid ;'></td>
                <td class="xl71"></td>
                <td class="xl71"></td>
                <td class="xl71"></td>
                <td class="xl71"></td>
                <td class="xl71"></td>
            </tr>
            <tr height="32" style='height:24.00pt;'>
                <td class="xl73" height="32" colspan="8" style='height:24.00pt;border-right:.5pt solid ;border-bottom:none;' x:str>工作进展情况</td>
                <td class="xl73" x:str>备注</td>
            </tr>
            <tr height="112" style='height:84.00pt;'>
                <td class="xl74" height="130" colspan="8" rowspan="2" style='height:97.50pt;border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>经办人：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>责任人：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>日期：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td class="xl68" rowspan="2" style='border-right:.5pt solid ;border-bottom:.5pt solid ;'></td>
            </tr>
            <tr height="18" style='height:13.50pt;' />
            <tr height="18" style='height:13.50pt;'>
                <td class="xl80" height="130" colspan="8" rowspan="2" style='height:97.50pt;border-right:.5pt solid ;border-bottom:.5pt solid ;' x:str>领导批示：</td>
                <td class="xl86" rowspan="2" style='border-right:.5pt solid ;border-bottom:.5pt solid ;'></td>
            </tr>
        </table>
    </div>
</div>