<ul class="nav navbar-stacked">
    <li class="active"><a href="?scope=all"><i class="fa fa-tasks"></i> 全部任务</a></li>
    <li><a href="?scope=receive"><i class="fa fa-envelope-open-o"></i> 我接受的</a></li>
    <li><a href="?scope=create"><i class="fa fa-tag"></i> 我指派的</a></li>
    <li><a href="?scope=star"><i class="fa fa-star"></i> 我关注的</a></li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="#"><i class="fa fa-bar-chart"></i> 任务统计</a></li>
</ul>
