<ul class="nav navbar-stacked">
    <li class="active">
        <a href="?scope=all">
            <i class="fa fa-comment"></i> 全部动态
        </a>
    </li>
    <li>
        <a href="?scope=my">
            <i class="fa fa-comment-o"></i> 我的动态
        </a>
    </li>
    <li>
        <a href="?scope=star">
            <i class="fa fa-star-o"></i> 星标动态
        </a>
    </li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="?type=all">&nbsp;&nbsp;&nbsp;&nbsp;公文</a></li>
    <li><a href="?type=all">&nbsp;&nbsp;&nbsp;&nbsp;任务</a></li>
    <li><a href="?type=all">&nbsp;&nbsp;&nbsp;&nbsp;日程</a></li>
    <li><a href="?type=all">&nbsp;&nbsp;&nbsp;&nbsp;会议</a></li>
    <li><a href="?type=all">&nbsp;&nbsp;&nbsp;&nbsp;车辆</a></li>
    <li><a href="?type=all">&nbsp;&nbsp;&nbsp;&nbsp;评论</a></li>
</ul>
