<ul class="nav navbar-stacked">
    <li class="active">
        <a href="?scope=all">
            <i class="fa fa-envelope-open"></i> 收件箱
        </a>
    </li>
    <li>
        <a href="?scope=my">
            <i class="fa fa-mail-forward"></i> 发件箱
        </a>
    </li>
    <li>
        <a href="?scope=star">
            <i class="fa fa-envelope"></i> 办结箱
        </a>
    </li>
    <li>
        <a href="?scope=star">
            <i class="fa fa-mail-reply"></i> 退回箱
        </a>
    </li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="#"><i class="fa fa-line-chart"></i> 公文统计</a></li>
</ul>
