<ul class="nav navbar-stacked">
    <li class="active">
        <a href="?scope=all">
            <i class="fa fa-folder-o"></i> 全部文件
        </a>
    </li>
    <li>
        <a href="?scope=my">
            <i class="fa fa-folder"></i> 我的文件
        </a>
    </li>
    <li>
        <a href="?scope=share">
            <i class="fa fa-share-alt"></i> 我的共享
        </a>
    </li>
    <li>
        <a href="?scope=trash">
            <i class="fa fa-trash-o"></i> 回收站
        </a>
    </li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="#"><i class="fa fa-file-image-o"></i> 图片</a></li>
    <li><a href="#"><i class="fa fa-file-word-o"></i> 文档</a></li>
    <li><a href="#"><i class="fa fa-file-video-o"></i> 视频</a></li>
    <li><a href="#"><i class="fa fa-file"></i> 其他</a></li>
</ul>
