<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="ApplicationID" value="8014002"/>
  <add key="Password" value="sElk4efdDrDV"/>
  <add key="ExtendCode" value="2"/>
  <add key="MASAddress" value="http://zs008.openmas.net:9080/OpenMasService"/>
</appSettings>
</configuration>
