<div class="comment-box">
    <div class="input-group">
        <input type="text" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-primary">回复</button>
        </div>
 </div>
</div>