<ul class="nav navbar-nav">
    @{
        var controller = Request.RequestContext.RouteData.Values["controller"].ToString();
        var navList = new List<dynamic>()
        {
            new { controller = "Home",text = "动态", icon = "commenting" },
            new { controller = "calendar",text = "日程", icon = "calendar" },
            new { controller = "OfficeDocument",text = "公文", icon = "file" },
            new { controller = "Task",text = "任务", icon = "tasks" },
            new { controller = "Attendance",text = "考勤", icon = "calendar-check-o" },
            new { controller = "Archive",text = "档案", icon = "archive" },
            new { controller = "Meeting",text = "会议", icon = "meeting" },
            new { controller = "Car",text = "车辆", icon = "car" },
            new { controller = "Information",text = "信息", icon = "newspaper-o" },
        };

        foreach (var item in navList)
        {
            var isChecked = controller.ToLower() == item.controller.ToLower();

            <li class="@(isChecked?"active":null)">
                <a href="@(Url.Action("index", (string)item.controller))">
                    <i class="fa fa-@(item.icon)"></i> @(item.text)
                </a>
            </li>
        }
    }
</ul>