@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Exception ex = ViewBag.Exception;
}
<div class="alert alert-warning">
    <h3>@(ex.Message)</h3>
</div>
@Html.Raw(ex.StackTrace.Replace("\n", "<br />"))
