@{ 
    var action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
}
<ul class="nav navbar-stacked">
    <li class="@(action == "index"?"active":null)"><a href="@Url.Action("index")"><i class="fa fa-list"></i> 信息查询</a></li>
    <li class="@(action == "list"?"active":null)"><a href="@Url.Action("list", new { self = true })"><i class="fa fa-files-o"></i> 我发布的信息</a></li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="#"><i class="fa fa-align-justify"></i> 分类管理</a></li>
</ul>
