<ul class="nav navbar-stacked">
    <li class="active"><a href="@Url.Action("index")"><i class="fa fa-calendar-check-o"></i> 考勤记录</a></li>
    <li><a href="@Url.Action("vacations")"><i class="fa fa-history"></i> 我的申请记录</a></li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="?type=all"><i class="fa fa-check-circle-o"></i> 请假审批</a></li>
    <li><a href="?type=all"><i class="fa fa-calendar-minus-o"></i> 节假日管理</a></li>
</ul>
