<ul class="nav navbar-stacked">
    <li class="active">
        <a href="?scope=all">
            <i class="fa fa-bell"></i> 全部动态
        </a>
    </li>
    <li>
        <a href="?scope=my">
            <i class="fa fa-comment"></i> 我的动态
        </a>
    </li>
    <li>
        <a href="?scope=star">
            <i class="fa fa-star"></i> 星标动态
        </a>
    </li>
</ul>
