@{ 
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    ViewBag.Title = "查询申请";
    ViewBag.FormId = "request";
}
<div class="form-group">
    <label class="control-label col-sm-3">文档分类：</label>
    <div class="col-sm-8">
        <select class="form-control">
            <option>文档分类1</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-3">文档描述：</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="2"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-3">申请理由：</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="4"></textarea>
    </div>
</div>

