@{
    var action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
}
<ul class="nav navbar-stacked">
    <li class="@(action == "index"?"active":null)"><a href="@Url.Action("Index")"><i class="fa fa-line-chart"></i> 档案统计</a></li>
    <li class="@(action == "list"?"active":null)"><a href="@Url.Action("List")"><i class="fa fa-search"></i> 档案查询</a></li>
    <li><a href="#"><i class="fa fa-history"></i> 我的查询记录</a></li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="#1"><i class="fa fa-check-circle-o"></i> 查询审批</a></li>
</ul>
