<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiHost" value="http://120.27.147.171:8080"/>
    <add key="MaxRows" value="4"/>
    <add key="RowHeight" value="80"/>
    <add key="RowLength1" value="9"/>
    <add key="RowLength2" value="11"/>
    <add key="FontSize" value="36"/>
    <add key="PlaySeconds" value="3"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>