<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiHost" value="http://localhost:8012"/>
    <add key="MaxRows" value="5"/>
    <add key="RowHeight" value="90"/>
    <add key="RowLength" value="15"/>
    <add key="FontSize" value="28"/>
    <add key="PlaySeconds" value="10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>