<ul class="nav navbar-stacked">
    <li class="active">
        <a href="?scope=all">
            <i class="fa fa-bell"></i> 全部日程
        </a>
    </li>
    <li>
        <a href="?scope=my">
            <i class="fa fa-comment"></i> 我的日程
        </a>
    </li>
</ul>
