<style>
    .document-panel { min-height: 500px; background: rgb(192, 194, 204); text-align: center; /* padding: 20px; */ }
    .document { width: 964px; margin: 0 auto; background: #fff; }
    .document-content { width: 600px; text-align: center; background: #fff; margin: 0 auto; }

    #document-files{ width: 290px;  position: fixed; background: #fff; border: solid 1px #ddd; padding: 20px; top: 60px; border-radius: 5px; right: 20px; }
</style>
<div class="document-panel">
    <div class="document">
        <img src="~/images/doc.png" />
    </div>
</div>
<div id="document-files">
    <div class="form-group">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-upload fa-2x text-primary"></i>
            </div>
            <div class="media-body">
                <a href="#">浏览文件上传</a>
            </div>
        </div>
        <hr />
        <label class="control-label">
            附件清单：
        </label>
        <div class="media">
            <div class="media-left">
                <i class="fa fa-file-word-o fa-2x text-primary"></i>
            </div>
            <div class="media-body">
                <a href="#">公文Word文件</a><br />
                12k
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <i class="fa fa-file-excel-o fa-2x text-success"></i>
            </div>
            <div class="media-body">
                <a href="#">附带表格文件</a><br />
                32k
            </div>
        </div>
    </div>
</div>
