<style>
    td { padding-top: 1px; padding-right: 1px; padding-left: 1px;   text-align: general; vertical-align: middle; white-space: nowrap;    color: #000000; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: 宋体;   border: none;  }
    .xl65 { text-align: center; font-size: 24.0pt; font-weight: 700;  }
    .xl66 { text-align: center; font-size: 24.0pt; font-weight: 700;  }
    .xl67 { text-align: center;  }
    .xl68 { text-align: left; vertical-align: top;  border-left: .5pt solid ; border-top: .5pt solid ; }
    .xl69 { text-align: left; vertical-align: top;  border-top: .5pt solid ; border-right: .5pt solid ; }
    .xl70 { text-align: left;  border-left: .5pt solid ; }
    .xl71 { text-align: left;  border-right: .5pt solid ; }
    .xl72 {  border-left: .5pt solid ; border-bottom: .5pt solid ; }
    .xl73 { text-align: right;  border-right: .5pt solid ; border-bottom: .5pt solid ; }
    .xl74 { text-align: left;  border-left: .5pt solid ; border-top: .5pt solid ; }
    .xl75 { text-align: left;  border-top: .5pt solid ; border-right: .5pt solid ; }
    .xl76 { text-align: left; vertical-align: top;  border-left: .5pt solid ; }
    .xl77 { text-align: left; vertical-align: top;  border-right: .5pt solid ; }
    .xl78 { text-align: left; border-left: .5pt solid ; border-top: .5pt solid ; border-right: .5pt solid ; }
    .xl79 { text-align: left; vertical-align: top;  border-left: .5pt solid ; border-right: .5pt solid ; }
    .xl80 { text-align: right;  border-left: .5pt solid ; border-right: .5pt solid ; border-bottom: .5pt solid ; }
    .xl81 { text-align: left; vertical-align: top;  border-left: .5pt solid ; border-top: .5pt solid ; }
    .xl82 {  border-top: .5pt solid ; border-right: .5pt solid ; }
    .xl83 {  border-left: .5pt solid ; }
    .xl84 {  border-right: .5pt solid ; }
    .xl85 { text-align: left; vertical-align: top; border-left: .5pt solid ; border-top: .5pt solid ; border-bottom: .5pt solid ; }
    .xl86 {  border-top: .5pt solid ; border-right: .5pt solid ; border-bottom: .5pt solid ; }
    .xl87 { text-align: left;  border-left: .5pt solid ; border-top: .5pt solid ; border-bottom: .5pt solid ; }
    .xl88 { text-align: left;  border-top: .5pt solid ; border-right: .5pt solid ; border-bottom: .5pt solid ; }
    .xl89 { text-align: left; vertical-align: top;  border-left: .5pt solid ; border-top: .5pt solid ; border-bottom: .5pt solid ; }
    .xl90 { text-align: left; vertical-align: top;  border-top: .5pt solid ; border-right: .5pt solid ; border-bottom: .5pt solid ; }
    .xl91 { text-align: left; vertical-align: top;  border-left: .5pt solid ; border-bottom: .5pt solid ; }
    .xl92 { text-align: left; vertical-align: top;  border-right: .5pt solid ; border-bottom: .5pt solid ; }
</style>
<div style="text-align:center">
    <div style="margin:0 auto;width:785px">
        <table width="783" border="0" cellpadding="0" cellspacing="0" style='width:587.25pt;border-collapse:collapse;table-layout:fixed;'>
            <tr height="65.33" style='height:49.00pt;'>
                <td class="xl65" height="65.33" width="711" colspan="2" style='height:49.00pt;width:533.25pt;border-right:none;border-bottom:none;'>舟山市国土资源局定海分局发文拟稿纸</td>
                <td width="72" style='width:54.00pt;'></td>
            </tr>
            <tr height="24" style='height:18.00pt;'>
                <td class="xl67" height="24" colspan="2" style='height:18.00pt;border-right:none;border-bottom:none;'>发文字号：舟土资办〔2016〕1号</td>
                <td></td>
            </tr>
            <tr height="18" style='height:13.50pt;'>
                <td class="xl68" height="18" colspan="2" style='height:13.50pt;border-right:.5pt solid ;border-bottom:none;'>签发</td>
                <td></td>
            </tr>
            <tr height="73.33" style='height:55.00pt;'>
                <td class="xl70" height="73.33" colspan="2" style='height:55.00pt;border-right:.5pt solid ;border-bottom:none;'></td>
                <td></td>
            </tr>
            <tr height="18" style='height:13.50pt;'>
                <td class="xl72" height="18" style='height:13.50pt;'></td>
                <td class="xl73">年<span >&nbsp;&nbsp;&nbsp; </span>月<span >&nbsp;&nbsp;&nbsp; </span>日</td>
                <td></td>
            </tr>
            <tr height="18.67" style='height:14.00pt;'>
                <td class="xl74" height="18.67" colspan="2" style='height:14.00pt;border-right:.5pt solid ;border-bottom:none;'>分管领导审核</td>
                <td></td>
            </tr>
            <tr height="72" style='height:54.00pt;'>
                <td class="xl76" height="72" colspan="2" style='height:54.00pt;border-right:.5pt solid ;border-bottom:none;'></td>
                <td></td>
            </tr>
            <tr height="18" style='height:13.50pt;'>
                <td class="xl72" height="18" style='height:13.50pt;'></td>
                <td class="xl73">年<span >&nbsp;&nbsp;&nbsp; </span>月<span >&nbsp;&nbsp;&nbsp; </span>日</td>
                <td></td>
            </tr>
            <tr height="18" style='height:13.50pt;'>
                <td class="xl78" height="18" style='height:13.50pt;'>办公室审核：</td>
                <td class="xl78">科室负责人审核：</td>
                <td></td>
            </tr>
            <tr height="90.67" style='height:68.00pt;'>
                <td class="xl79" height="90.67" style='height:68.00pt;'></td>
                <td class="xl79"></td>
                <td></td>
            </tr>
            <tr height="18" style='height:13.50pt;'>
                <td class="xl80" height="18" style='height:13.50pt;'>年<span >&nbsp;&nbsp;&nbsp; </span>月<span >&nbsp;&nbsp;&nbsp; </span>日</td>
                <td class="xl80">年<span >&nbsp;&nbsp;&nbsp; </span>月<span >&nbsp;&nbsp;&nbsp; </span>日</td>
                <td></td>
            </tr>
            <tr height="18" style='height:13.50pt;'>
                <td class="xl81" height="18" style='height:13.50pt;'>拟稿人</td>
                <td class="xl82"></td>
                <td></td>
            </tr>
            <tr height="54.67" style='height:41.00pt;'>
                <td class="xl83" height="54.67" style='height:41.00pt;'></td>
                <td class="xl84"></td>
                <td></td>
            </tr>
            <tr height="18" style='height:13.50pt;'>
                <td class="xl72" height="18" style='height:13.50pt;'></td>
                <td class="xl73">年<span >&nbsp;&nbsp;&nbsp; </span>月<span >&nbsp;&nbsp;&nbsp; </span>日</td>
                <td></td>
            </tr>
            <tr height="24" style='height:18.00pt;'>
                <td class="xl85" height="24" colspan="2" style='height:18.00pt;border-right:.5pt solid ;border-bottom:.5pt solid ;'>政务公开：□主动公开<span >&nbsp;&nbsp;&nbsp; </span>□依申请公开<span >&nbsp;&nbsp;&nbsp; </span>□不公开</td>
                <td></td>
            </tr>
            <tr height="24" style='height:18.00pt;'>
                <td class="xl85" height="24" style='height:18.00pt;'>是否上互联网发布（是、否）</td>
                <td class="xl86"></td>
                <td></td>
            </tr>
            <tr height="24" style='height:18.00pt;'>
                <td class="xl87" height="24" colspan="2" style='height:18.00pt;border-right:.5pt solid ;border-bottom:.5pt solid ;'>密级：<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>期限：<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>责任人：</td>
                <td></td>
            </tr>
            <tr height="61.33" style='height:46.00pt;'>
                <td class="xl89" height="61.33" colspan="2" style='height:46.00pt;border-right:.5pt solid ;border-bottom:.5pt solid ;'>文件标题：</td>
                <td></td>
            </tr>
            <tr height="61.33" style='height:46.00pt;'>
                <td class="xl89" height="61.33" colspan="2" style='height:46.00pt;border-right:.5pt solid ;border-bottom:.5pt solid ;'>主题词：</td>
                <td></td>
            </tr>
            <tr height="61.33" style='height:46.00pt;'>
                <td class="xl89" height="61.33" colspan="2" style='height:46.00pt;border-right:.5pt solid ;border-bottom:.5pt solid ;'>主送机关：</td>
                <td></td>
            </tr>
            <tr height="61.33" style='height:46.00pt;'>
                <td class="xl91" height="61.33" colspan="2" style='height:46.00pt;border-right:.5pt solid ;border-bottom:.5pt solid ;'>抄送机关：</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>