<div class="toolbar">
    <div class="left">
        <a href="javascript:history.back()" class="btn btn-default"><i class="fa fa-chevron-left"></i> 返回</a>
    </div>
    <ul class="nav nav-tabs" role="tablist" style="margin:0 auto;width:400px;">
        <li role="presentation" class="active"><a href="#doc-form" aria-controls="doc-form" role="tab" data-toggle="tab">基本信息</a></li>
        <li role="presentation"><a href="#doc-content" aria-controls="doc-content" role="tab" data-toggle="tab">文件预览</a></li>
        <li role="presentation"><a href="#doc-flow" aria-controls="doc-flow" role="tab" data-toggle="tab">办理记录</a></li>
        <li role="presentation"><a href="#doc-result" aria-controls="doc-result" role="tab" data-toggle="tab">成果预览</a></li>
    </ul>
</div>
<div class="main-content bg">
    <div id="doc-tab-content" class="tab-content">
        <div class="tab-pane active in" id="doc-form">
            @Html.Partial("_Form")
        </div>
        <div class="tab-pane" id="doc-content">
            @Html.Partial("_Content")
        </div>
        <div class="tab-pane" id="doc-flow">
            @Html.Partial("_Flow")
        </div>
        <div class="tab-pane" id="doc-result">
            @Html.Partial("_Result")
        </div>
    </div>
</div>
