<ul class="nav navbar-stacked">
    <li class="active">
        <a href="?scope=all">
            <i class="fa fa-bell"></i> 全部日程
        </a>
    </li>
    <li>
        <a href="?scope=my">
            <i class="fa fa-comment"></i> 我的日程
        </a>
    </li>
</ul>
<hr />
<ul class="nav navbar-stacked">
    <li><a href="?type=all"><label class="label label-default">自定义事件</label></a></li>
    <li><a href="?type=all"><label class="label label-danger">任务提醒</label></a></li>
    <li><a href="?type=all"><label class="label label-info">会议提醒</label></a></li>
    <li><a href="?type=all"><label class="label label-primary">车辆提醒</label></a></li>
    <li><a href="?type=all"><label class="label label-warning">审批提醒</label></a></li>
    <li><a href="?type=all"><label class="label label-success">其他提醒</label></a></li>
</ul>
