<style>
    #appcalendar .calendar .table td
    {
        height: 130px;
    }
        #appcalendar .calendar .table td.today
        {
            border-top: solid 2px #ff0000;
            background-color: rgb(252, 215, 215);
        }
</style>
@{
    var date = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
}
<div id="appcalendar">
    <div class="toolbar">
        <div class="left">
            <a href="@Url.Action("edit")" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-plus"></i> 新建日程</a>
        </div>
        <div class="right">
            <strong> @(date.Year)年@(date.Month)月 </strong>
            <div class="btn-group">
                <a href="#" class="btn btn-default btn-sm">
                    今天
                </a>
                <a href="#" class="btn btn-default btn-sm">
                    <i class="fa fa-chevron-left"></i> 上月
                </a>
                <a href="#" class="btn btn-default btn-sm">
                    <i class="fa fa-chevron-right"></i> 下月
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        @Html.Action("Calendar", "Home", new { date })
    </div>
</div>
<script>
    $(function () {
        $(".calendar td").dblclick(function () {
            var date = $(this).attr("data-date");
            $.openWindow("@(Url.Action("edit"))")
        });

        UpdateCalendar([
            { date: "2017-01-05", value: '<a href="#"><span class="label label-info"><i class="fa fa-check"></i> 这里是一条任务提醒</span></a>' },
            { date: "2017-01-09", value: '<a href="#"><span class="label label-warning"><i class="fa fa-check"></i> 一号会议室全体会议</span></a>' },
            { date: "2017-01-11", value: '<a href="#"><span class="label label-primary"><i class="fa fa-check"></i> 你申请的车辆归还日期</span></a>' },
            { date: "2017-01-15", value: '<a href="#"><span class="label label-default">这是自定义事件</span></a>' },
            { date: "2017-01-23", value: '<a href="#"><span class="label label-primary">这是一条测试工作日程</span></a>' },
            { date: "2017-01-28", value: '<a href="#"><span class="label label-danger">这是一条流程通知</span></a>' },
        ]);
    });
</script>